section {
  background-color: rgb(53, 53, 53);
  margin-top: 2em;
  padding: 2em;
  border-radius: 2em;
  position: relative;
  --color: rgb(248, 248, 248);
  --table-border-color: rgb(172, 172, 172);
//   --border-width: 3px;

  ol{
    list-style: lower-alpha inside none;
    counter-reset: list;

    & > li{
      list-style-type: none;
      margin-bottom: 1.5em;

      &::before{
        content: counter(list, lower-alpha) ") ";
        counter-increment: list;
      }

    }

    ol{

      margin-top: 1.5em;
      // list-style-type: lower-roman;
      counter-reset: innerlist;

      & > li{
        list-style-type: none;

        &::before{
          content: counter(innerlist, lower-roman) ") ";
          counter-increment: innerlist;
        }

      }


    }

  }

  p,
  li {
    font-size: 1.5rem;
  }

  .marks {
    font-size: 1rem;
  }

  .question_metadata {
    border-top: var(--border-width) dotted var(--table-border-color);
    padding-top: 0.5em;
    margin-top: 3em;
    display: flex;
  }
}

nav ul a.active{
  background: var(--primary);
  color: black;
}

@media screen and (max-width: 80em) {
  section {
    display: flex;
    flex-direction: column;
    gap: 0;

    .marks {
      text-align: left;
    }

    .question_metadata {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 80.1em) {
  .question_metadata {
    flex-direction: row;
    justify-content: space-between;
  }

  .marks {
    text-align: left;
  }
}

html[data-theme="light"] section {
  --color: black;
  background: rgb(117, 117, 117);
  --table-border-color: rgb(5, 5, 5);

  & a{
    color: white;
    text-decoration: underline;
  }

}

html[data-theme="light"] nav ul a.active{
  color: white;
}

html[data-theme="light"] .question_metadata {
  color: black;
}


.container {
  padding-top: 0 !important;
}

.hidden{
  display: none !important;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

h1, h5 {
  margin-bottom: 0px !important;
}

h6{
  margin: 0;
  margin-bottom: 2em;
  font-weight: normal;
}

h6:before{
  content:"[ ";
}

h6:after{
  content:" ]";
}

img.loading-img{
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
}

header {
  text-align: center;
}

nav {
  justify-content: center;
}

footer {
  font-size: small;
  text-align: center;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.95);
  text-align: center;
  overflow: auto;

  display: grid;
  align-content: center;
  justify-content: center;
}

.overlay canvas{
  background: white;
  padding: 2em;
}